{% extends "base.html" %}

{% block title %}PracticeConversation.com - About Us - Sobre nós{% endblock %}

{% block content %}
  <h1>Contact Us!</h1>
  {% if msg %}
    <div class="alert alert-success">{{ msg }}</div>
  {% endif %}

  <div class="row">

    <div class="col-sm-4">
      <h3>Stay in Touch!</h3>
      <hr>
      <address>
        <strong>Email:</strong> <a href="mailto:contact@doingcast.com"> contact@doingcast.com</a><br><br>
        <strong>Phone:</strong> (555)123-4567
      </address>
    </div>

    <div class="col-sm-8 contact-form">
      <form id="contact" method="post" class="form" role="form">

        <div class="row">

          <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
          </div>

          <div class="col-xs-6 col-md-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
          </div>

        </div>

        <textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea><br />
        <div class="row">
          <div class="col-xs-12 col-md-12 form-group">
            <button class="btn btn-primary pull-right" type="submit">Submit</button>
          </div>
        </div>
        
      </form>
    </div>

  </div>
{% endblock %}